.nav {
    background-color: "#F4F1DE";
    }

    @keyframes animate-wave {
        0%, 100% {
          transform: translateX(0);
        }
        50% {
          transform: translateX(2px) rotate(30deg);
        }
      }
      
      .animate-wave{
        animation: animate-wave 1.0s infinite;
      }
@media screen and (max-width: 768px) {
   .name{
         font-size: 1rem;
   }
    
}
.projectCard:hover{

    box-shadow: 0 4px 6px rgb(69, 123, 157);
   
}

.grid-bg{
  background-image: url('/home/lokesh/Projects/my-portfolio/src/assets/grid.svg');

  background-repeat: repeat;
  background-size: auto;
  /* background-position: bottom center, 50%, 50% ; */
  /* height: 300px;
  display: block; */
}