@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  --cursor-color: rgb(242, 204, 143);
  @media (max-width: 768px) {
    cursor: none;
    
  }
}
body::-webkit-scrollbar {
  display: none;
}

html,body{
  overflow-x  : hidden;
}
@media only screen and (max-width:480px) {
  html{
    width: 100vw;
    overflow-x: hidden;
  }
}
.animated-text {
    font-size: 48px;
    font-weight: bold;
    color: transparent;
    position: relative;
    display: inline-block;
  }
  
  .animated-text span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: fillText 2s forwards;
  }
  
  @keyframes fillText {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  h1 {
    @apply text-4xl font-bold my-2 underline; /* Example styles for h1 */
  }
  
  p {
    @apply text-base font-normal my-2; /* Example styles for p */
  }
  
  h2 {
    @apply text-xl font-bold my-2;  /* Example styles for h2 */
  }
  
  h3 {
    @apply text-lg font-bold my-2 ; /* Example styles for h3 */
  }
  
  h4 {
    @apply text-base font-bold my-2; /* Example styles for h4 */
  }
  
  h5 {
    @apply text-sm font-bold my-2; /* Example styles for h5 */
  }
  
  pre {
    @apply whitespace-pre-wrap my-2;  /* Example styles for pre */
  }
