@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-text {
    font-size: 48px;
    font-weight: bold;
    color: transparent;
    position: relative;
    display: inline-block;
  }
  
  .animated-text span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: fillText 2s forwards;
  }
  
  @keyframes fillText {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  